@import "tailwindcss";

.animate-fade-up {
  animation: fadeUp 0.5s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* ลอยขึ้นมาจากด้านล่าง 20px */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* กลับมาที่ตำแหน่งปกติ */
  }
}